extends _layouts/master

block scriptJquery
    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="./javascripts/api.js") 

block content 
    h1 這是首頁
    <img src="/images/item-grape.jpg">
